<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../icon/batman icon.png" type="image/x-icon">

    <title>Actual</title>

</head>

<body class="antiguo">
    <section>
        <a href="../index.html"><button class="inicio">Página de Inicio</button></a>
    </section>

    <h1 class="galeria2">Galeria</h1>
    <h2 class="fondos2">Fondos actuales de Batman</h2>


    <div class="galeria3">
        <div class="fondos">
            <a href="../image/galeria/actuales/actual1.jpg" target="_blank">
                <img src="../image/galeria/actuales/actual1.jpg" alt="">
            </a>
        </div>
        <div class="pie2">
    
            <p>FONDO ACTUAL</p>
        </div>
    </div>
    <div class="galeria3">
        <div class="fondos">
            <a href="../image/galeria/actuales/actual2.jpg" target="_blank">
                <img src="../image/galeria/actuales/actual2.jpg" alt="">
            </a>
        </div>
        <div class="pie2">
    
            <p>FONDO ACTUAL</p>
        </div>
    </div>
    <div class="galeria3">
        <div class="fondos">
            <a href="../image/galeria/actuales/actual3.jpg" target="_blank">
                <img src="../image/galeria/actuales/actual3.jpg" alt="">
            </a>
        </div>
        <div class="pie2">
    
            <p>FONDO ACTUAL</p>
        </div>
    </div>

    <div class="galeria3">
        <div class="fondos">
            <a href="../image/galeria/actuales/actual4.jpg" target="_blank">
                <img src="../image/galeria/actuales/actual4.jpg" alt="">
            </a>
        </div>
        <div class="pie2">
            
            <p>FONDO ACTUAL</p>
        </div>
    </div>
    <div class="galeria3">
        <div class="fondos">
            <a href="../image/galeria/actuales/actual5.jpg" target="_blank">
                <img src="../image/galeria/actuales/actual5.jpg" alt="">
            </a>
        </div>
        <div class="pie2">
            
            <p>FONDO ACTUAL</p>
        </div>
    </div>
    <div class="galeria3">
        <div class="fondos">
            <a href="../image/galeria/actuales/actual6.jpg" target="_blank">
                <img src="../image/galeria/actuales/actual6.jpg" alt="">
            </a>
        </div>
        <div class="pie2">
            
            <p>FONDO ACTUAL</p>
        </div>
    </div>

    <div class="galeria3">
        <div class="fondos">
            <a href="../image/galeria/actuales/actual7.jpg" target="_blank">
                <img src="../image/galeria/actuales/actual7.jpg" alt="">
            </a>
        </div>
        <div class="pie2">
            
            <p>FONDO ACTUAL</p>
        </div>
    </div>
    <div class="galeria3">
        <div class="fondos">
            <a href="../image/galeria/actuales/actual8.jpg" target="_blank">
                <img src="../image/galeria/actuales/actual8.jpg" alt="">
            </a>
        </div>
        <div class="pie2">
            
            <p>FONDO ACTUAL</p>
        </div>
    </div>
    <div class="galeria3">
        <div class="fondos">
            <a href="../image/galeria/actuales/actual9.jpg" target="_blank">
                <img src="../image/galeria/actuales/actual9.jpg" alt="">
            </a>
        </div>
        <div class="pie2">
            
            <p>FONDO ACTUAL</p>
        </div>
    </div>
</body>

</html>