<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../icon/batman icon.png" type="image/x-icon">

    <title>Clasico</title>
  
</head>

<body class="antiguo">
   <section>
    <a  href="../index.html"><button class="inicio">Página de Inicio</button></a>
   </section>

    <h1 class="galeria1">Galeria</h1>
        <H2 class="fondos1">Fondos Clasicos de Batman</H2>

       
        <div class="galeria">
        <div class="fondos">
            <a href="../image/galeria/clasicos/clasico1.jpg" target="_blank">
            <img src="../image/galeria/clasicos/clasico1.jpg" alt="">
            </a>
    </div>
        <div class="pie">
        
        <p>FONDO CLASICO</p>
        </div>
    </div>
    <div class="galeria">
        <div class="fondos">
            <a href="../image/galeria/clasicos/clasico2.jpg" target="_blank">
            <img src="../image/galeria/clasicos/clasico2.jpg" alt="">
            </a>
        </div>
        <div class="pie">
            
            <p>FONDO CLASICO</p>
        </div>
    </div>
    <div class="galeria">
        <div class="fondos">
            <a href="../image/galeria/clasicos/clasico3.jpg" target="_blank">
            <img src="../image/galeria/clasicos/clasico3.jpg" alt="">
            </a>
        </div>
        <div class="pie">
            
            <p>FONDO CLASICO</p>
        </div>
    </div>

    <div class="galeria">
        <div class="fondos">
            <a href="../image/galeria/clasicos/clasico4.jpg" target="_blank">
            <img src="../image/galeria/clasicos/clasico4.jpg" alt="">
            </a>
        </div>
        <div class="pie">
            
            <p>FONDO CLASICO</p>
        </div>
    </div>
    <div class="galeria">
        <div class="fondos">
            <a href="../image/galeria/clasicos/clasico5.jpg" target="_blank">
            <img src="../image/galeria/clasicos/clasico5.jpg" alt="">
            </a>
        </div>
        <div class="pie">
            
            <p>FONDO CLASICO</p>
        </div>
    </div>
    <div class="galeria">
        <div class="fondos">
            <a href="../image/galeria/clasicos/clasico6.jpg" target="_blank">
            <img src="../image/galeria/clasicos/clasico6.jpg" alt="">
            </a>
        </div>
        <div class="pie">
            
            <p>FONDO CLASICO</p>
        </div>
    </div>

    <div class="galeria">
        <div class="fondos">
            <a href="../image/galeria/clasicos/clasico7.jpg" target="_blank">
            <img src="../image/galeria/clasicos/clasico7.jpg" alt="">
            </a>
        </div>
        <div class="pie">
            
            <p>FONDO CLASICO</p>
        </div>
    </div>
    <div class="galeria">
        <div class="fondos">
            <a href="../image/galeria/clasicos/clasico8.jpg" target="_blank">
            <img src="../image/galeria/clasicos/clasico8.jpg" alt="">
            </a>
        </div>
        <div class="pie">
            
            <p>FONDO CLASICO</p>
        </div>
    </div>
    <div class="galeria">
        <div class="fondos">
            <a href="../image/galeria/clasicos/clasico9.jpg" target="_blank">
            <img src="../image/galeria/clasicos/clasico9.jpg" alt="">
            </a>
        </div>
        <div class="pie">
            
            <p>FONDO CLASICO</p>
        </div>
    </div> 
</body>

</html>